.page-image {
    width: 45%;
    padding-left: 50px;
}

.page-image img {
    width: 450px;
}

.page-info {
    margin-left: 8%;
    margin-top: 130px;
}

.about-us {
    background-color: rgb(243, 226, 226);
    padding: 40px 20px;
}

.btn-about {
    padding: 5px 30px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid rgb(243, 226, 226);
    transition: .5s;
    background-color: rgb(209, 203, 203);
}

.btn-about:hover {
    border: 3px solid black;
    color: black;
    background-color: #fff;
}