.blog {
    margin: 10px 12%;
}

.blog-img {
    text-align: center;
}

.blog-img img {
    width: 500px;
}

.blog-title {
    border-bottom: 1px solid rgb(163, 163, 163);
    margin-bottom: 60px;
}

.description p {
    font-size: 20px;
    margin-bottom: 40px;
}