.banner {
    height: 100vh;
}

.banner-title h1{
    font-size: 70px;
    font-weight: bold;
    margin-left: 16%;
    color: #fff;
    margin-top: 180px;
}

.banner-title p {
    font-size: 20px;
    font-weight: 400;
    margin-left: 16%;
    color: #fff;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
}
